@page "{id:int}"
@model AdminDashCore.Pages.Admin.Clients.DetailsModel
@{
    Layout = "_AdminLayout";
}

<h2>Client Details</h2>

<dl class="row">
    <dt class="col-sm-2">Name:</dt>
    <dd class="col-sm-10">@Model.Client?.Name</dd>

    <dt class="col-sm-2">Position:</dt>
    <dd class="col-sm-10">@Model.Client?.Position</dd>

    <dt class="col-sm-2">Office:</dt>
    <dd class="col-sm-10">@Model.Client?.Office</dd>

    <dt class="col-sm-2">Age:</dt>
    <dd class="col-sm-10">@Model.Client?.Age</dd>

    <dt class="col-sm-2">Start date:</dt>
    <dd class="col-sm-10">@Model.Client?.StartDate.ToShortDateString()</dd>

    <dt class="col-sm-2">Salary:</dt>
    <dd class="col-sm-10">@Model.Client?.Salary.ToString("C")</dd>
</dl>

<a asp-page="Index" class="btn btn-secondary">Back</a>
